{% extends 'layout.html' %}
{% block title %}My Page{% endblock %}
{% block head %}
{% parent %}
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/indexadd.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/x-tag/1.5.11/x-tag-core.js"></script>
    <script src="/js/tag.es6"></script>
{% endblock %}
{% block content %}
<x-praise></x-praise>
<!-- <div class="wrap" id="thumb">
    <span class="thumb"></span>
    <div class="finger"></div>
    <div class="finger"></div>
    <div class="finger"></div>
    <div class="finger"></div>
    <div class="hide" id="animation">+1</div>
 </div> -->

 
{% endblock %}